* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-card {
    max-width: 400px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.post-card-img {
    width: 100%;
    height: auto;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-des {
    color: var(--secondry-color);
    font-size: 1.1rem;
}

.post-time-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brick-icon-wrapper {
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--secondry-color);
}

.fs-1_5 {
    font-size: 1.3rem;
}

.brick-icon-wrapper .brick-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.date {
    margin-top: 0;
}

@media screen and (max-width: 880px) {
    .post-card {
        max-width: 300px;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--secondry-color);
    }

    .post__text-box .color-cyan {
        font-size: 0.7rem;
    }

    .post__text-box > h1 {
        font-size: 1.4rem;
    }

    .post-des {
        font-size: 1rem;
    }

    .brick-icon-wrapper {
        height: 35px;
        width: 35px;
    }

    .brick-icon {
        font-size: 0.8rem;
    }
}