.ghost-site-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav"
  "header header header"
  "intro intro intro"
  "posts posts posts"
  "footer footer footer";
}

